.feed {
    width: 100%;
    display: flex;
    .left-panel{
        width: 15%;
    }
    .main-feed {
        background: $foreground;
        padding-top: 25px;
        width: 70%;
        min-height: 100vh;
    }
    .right-panel{
        width: 15%;
    }
}