body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans' ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5 {
  color: $primary-color;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

p, a {
  font-size: 20px;
  color: $primary-color;
}
textarea, input { 
  outline: none;
  border: none;
  color: $primary-color;
}
button {
  outline: none;
}
.delete-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  &:hover{
    background: $button2;
  }
}



.user-icon-small {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 5px;
  &:hover{
    border: 1px solid black
  }
}
.user-icon-xsmall {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 5px;
  &:hover{
    border: 1px solid black
  }
}
.user-icon-large {
  width: 100px;
  height: 100px;
  
  border-radius: 50%;
}
.button-1{
  min-width: 100px;
  height: 20px;
  border: none;
  background: $button1;
  color: $secondary-color;
  font-weight: 500;
  &:hover{
    color: $primary-color;
    font-weight: 500;
    border: 1px solid $secondary-color;
  }
}

.modal-narrow {
  position: fixed;
  background: $foreground;
  top: 50%;
  left: 50%;
  width: 400px;
  max-height: 600px;
  margin-top: -300px;
  margin-left: -200px;
  box-shadow: 0px 0px 8px rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.friend-list {
  width: 80%;
  margin: 10px;
  a {
    text-decoration: none;
  }
  .list-item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid $primary-color;
    &:hover{
      background: $third;
    }
  }
}


.modal-large {
  z-index: 2;
  position: fixed;
  background: $foreground;
  top: 50%;
  left: 50%;
  width: 800px;
  padding: 10px;
  margin-top: -400px;
  margin-left: -400px;
  box-shadow: 0px 0px 8px rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-exit {
  width: 25px;
  height: 25px;
  position: fixed;
  background: $third-color;
  color: $button2;
  font-weight: 700;
  border: 1px solid $primary-color;
  border-radius: 0 50% 50% 50%;
  margin: -10px 0 0 -10px;
  &:hover {
    background: $primary-color;
    
  }
}

.modal-medium {
  z-index: 2;
  position: fixed;
  background: $foreground;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-top: -300px;
  margin-left: -300px;
  box-shadow: 0px 0px 8px rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.modal-image {
  width: 100%;
  margin: 0 auto;
}

.blur {
  filter: blur(10px);
}
.none{
  display: none;
}

.text-button {
  &:hover{
    color: $third-color
  }
}