.header {
    position: fixed;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    z-index: 10;
    background: $secondary;
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 20%;
    .heading{
        width: 30%;
        margin-left: 30px;
        .logo{
            width: 120px;
        }
    }
    .search-box {
        width: 400px;
        display: flex;
        align-items: center;
        .search-bar {
            border: none;
            background: $background;
            outline: none;
            height: 25px;
            width: 700px;
            border-radius: 5px;
        }
        .dropdown {
            position: absolute;
            width: 370px;
            margin-top: 55px;
            display: flex;
            flex-direction: column;
            background: $background;
            .user-tab {
                height: 20px;
                display: flex;
                justify-content: flex-start;
                color: $primary;
                border: 1px solid grey;
            }
        }
    }
    .Navigation {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .menu {
            width: 20px;
        }
        .user-card {
            width: 200px;
            border-radius: 5px;
            background: $foreground;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .NavIcon {
            width: 30px;
            height: 25px;
            color: white;
        }
        .NavDropDown {
            position: absolute;
            display: none;
            flex-direction: column;
            width: 200px;
            border-radius: 5px;
            margin-top: 155px;
            box-shadow: 0px 0px 8px rgb(168, 168, 168);
            background: $foreground;
            color: $secondary;
            font-weight: 600;
            padding: 5px;
            .link {
                color: $third-color;
                text-decoration: none;
                padding: 8px 0;
                width: 100%;
                height: 18px;
                &:hover{
                    border-bottom: 1px solid $primary;
                    height: 17px;
                }
            }    
            button{
                border: 1px solid $primary;
                width: 75px;
                color: whitesmoke;
                font-weight: 700;
                background: $primary;
                &:hover {
                    border: 1px solid red;
                    background: $button2;
                }
            }
        }
    }
}