.home {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;
    @media (max-width: $mobile){
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        width: 40%;
        background-image: url('../images/background.png');
        background-size: cover;
        padding: 100px 50% 30px 10%;
    }
    .marketing-photo{
        width: 40%;
        border-radius: 10px;
        border: 2px solid $primary;
        @media (max-width: $mobile){
           display: none;
        }
    }
    .call-to-action{
        width: 70%;
        justify-content: space-evenly;
        display: flex;
        justify-content: space-evenly;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            width: 100%;
        }
        .box{
            width: 50%;
            display:flex;
            justify-content: center;
            @media (max-width: $mobile) {
                width: 100%;
                margin: 20px 0
            }
        }
        
    }
}