.profile-header {
        padding-top: 70px;
        z-index: 1;
        position: static;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        color: white;
        background: $foreground;
        min-height: 100px;
        box-shadow: 0px 3px 5px rgb(168, 168, 168);
        @media(max-width: $mobile){
            width: 100%;
        }
        input {
            font-size: 30px;
            width: 160px;
            @media(max-width: $mobile){
                font-size: 18px;
            }
        }
}   
    .user-data {
        margin-left: 20px;
        height: 80px;
        flex-direction: column;
        display: flex;
        width: 80%;
        align-items: flex-start;
        justify-content: flex-end;
        @media(max-width: $mobile){
            h5 {
                font-size: 20px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .profile-picture {
        margin: 0 5px;
    }
    .profile-button-menu {
        margin-top: 10px;
        width: 100%;
        display: grid;
        padding: 0 15px 5px 0;
        grid-template-columns: 120px 120px 120px auto 120px;
        @media(max-width: $mobile){
            padding: 0;
            grid-template-columns: auto 33% 33% 33% auto;
        }
        button {
            margin: 0 5px;
        }
            .friends{
                grid-column-start: 1;
                grid-column-end: 2;
                @media(max-width: $mobile){
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
            }
            .likes {
                grid-column-start: 2;
                grid-column-end: 3;
                @media(max-width: $mobile){
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
            }
            .edit {
                grid-column-start: 5;
                grid-column-end: 6;
                @media(max-width: $mobile){
                    grid-column-start: 4;
                    grid-column-end: 5; 
                }
            }

        
    }
    .post-box {
        z-index: -1;
        margin: 0 auto;
        padding: 25px 0;
        width: 60%;
        background: $foreground;
        box-shadow: 0px 3px 5px rgb(168, 168, 168);
        @media(max-width: $mobile){
            width: 90%;
        }
    }