.profile-header {
        padding-top: 70px;
        z-index: 1;
        position: static;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        color: white;
        background: $foreground;
        min-height: 190px;
        box-shadow: 0px 3px 5px rgb(168, 168, 168);
        @media(max-width: $mobile){
            width: 100%;
            min-height: 100px;
        }
        input {
            font-size: 30px;
            width: 160px;
            @media(max-width: $mobile){
                font-size: 18px;
            }
        }
        .delete-account{ 
            background: tomato;
            color: white;
            margin-left: 50%;

        }
}   
    .user-data {
        margin-left: 20px;
        height: 60px;
        flex-direction: column;
        display: flex;
        width: 80%;
        align-items: flex-start;
        justify-content: center;
        @media(max-width: $mobile){
            margin-left: 20px;
            width: 60%;
            h5 {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 4px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .profile-picture {
        margin: 0 5px;
        @media(max-width: $mobile){

        }
    }
    .profile-button-menu {
        margin-top: 10px;
        width: 75%;
        display: grid;
        padding: 0 15px 5px 0;
        grid-template-columns: 20px 65% auto 20% 20px;
        @media(max-width: $mobile){
            padding: 0;
            grid-template-columns: 20px 50% auto 20% 20px;
        }
            .edit {
                grid-column-start: 4;
                grid-column-end: 5;
                @media(max-width: $mobile){
                    grid-column-start: 4;
                    grid-column-end: 5; 
                }
            }
    
        
    }
    .user-stats {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: space-evenly;
        border-radius: 5px;
        background: $primary;
        padding: 3px;
        @media (max-width: $mobile) {
            grid-column-start:2;
            grid-column-end: 3;
        }
        .stat{
            padding: 5px;
            background: $secondary;
            border: 1px solid $secondary;
            border-radius: 5px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h5, p {
                color: $secondary-color;
                font-weight: 600;
                
            }
            &:hover{ 
                transition: ease-in-out .25s;
                background: $primary;
                border: 1px solid $button1;
               
            }
            @media(max-width: $mobile){
                p {
                    font-size: 12px;
                }
                h5 {
                    font-size: 20px;
                }
            }
        }
    }
    .likes-box {
        background: $third;
        padding: 20px 0;
    }
    .post-box {
        z-index: -1;
        margin: 0 auto;
        padding: 0;
        width: 60%;
        background: $foreground;
        box-shadow: 0px 3px 5px rgb(168, 168, 168);
        @media(max-width: $mobile){
            width: 90%;
        }
    }