.sign-in{
    width: 80%;
    .header{
        border-bottom:1px solid grey;
        padding-bottom: 5px;
        }
    .input-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        p{
            padding: 3px 0 5px 0;
        }
        .input{
            text-decoration: none;
            width: 200px;
            border: 1px solid grey;
            border-radius: 3px;
        }
    }
}