.sign-up{
    width: 600px;
    margin: 0 auto;
    height: 500px;
    @media (max-width: $mobile) {
        width: 90%;
    }
    .heading{
        width:100%; 
        border-bottom:1px solid grey;
        padding-bottom: 10px;
    }
    form {
        margin-top: 20px;
    }
    .input{
        width: 100%;
        margin: 5px auto;
        text-decoration: none;
        border: 1px solid $secondary;
    }
    .submit{
        margin-left: 20%;
    }
    .confirm-password{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #profile-picture{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%
    }
    #light{
        margin: 2px 0 0 20px;
        border-radius: 50%;
    }
    .input-box{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width:$mobile){
            width: 80%;
        }
        .confirm{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $button2
        }
        
    }
}