.sign-up{
    .header{
        border-bottom:1px solid grey;
    }
    .input-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p{
            padding: 3px 0 5px 0;
            font-size: 12px;
        }
        .input{
            width: 200px;
            border: 1px solid grey;
            border-radius: 3px;
        }
        .confirm{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $button2
        }
    }
}