// #520091
$primary : #520091;
// #CAC7E9
$primary-color: #525252;
$secondary-color: #696969;
$third-color: #9c9c9c;
$background: #ececec;
$foreground: #e5e5e9;
$secondary: #ac8ec4;
$button1: #63f765;
$button2: #fc4f4c;